<ion-content>
  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button>
      <img src="../../assets/img/menu.png" alt="">
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button (click)="chooseMenu(0)" color="#E5C2C0">
        <img src="../../assets/img/work-from-home.png" alt="" style="width: 35px;">
      </ion-fab-button>
     
      <ion-fab-button (click)="logout()" color="danger">
        <img src="../../assets/img/cerrar-sesion.png" alt="">
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <div style="width: 100%; height: 100%" *ngIf="menu == 0">
    <ion-grid style="display: flex; flex-flow: column" class="mt-5">
      <ion-row style="flex-grow: 1; margin-bottom: 1rem">
        <ion-col class="cosas-lindas-btn" (click)="chooseMenu(1)">
          <h2>COSAS LINDAS</h2>
        </ion-col>
      </ion-row>
      <ion-row style="flex-grow: 1; margin-bottom: 1rem">
        <ion-col class="cosas-feas-btn" (click)="chooseMenu(2)">
          <h2>COSAS FEAS</h2>
        </ion-col>
      </ion-row>
    </ion-grid>


  </div>

  <!-- MENU COSAS LINDAS Y FEAS-->
  <div style="width: 100%; height: 100%" *ngIf="menu == 1 || menu == 2">

    <ion-grid style="height: 80%; display: flex; flex-flow: column">
      <h1 style="
          text-align: center;
          font-size: 2rem;
          margin-top: 1.5rem;
          font-weight: bolder;
        ">
        {{menuTittle}}
      </h1>

      <div *ngIf="!userImagesCosasLindas && !userImagesCosasFeas">
        <div class="d-flex ion-padding">
          <h2 class="mis-fotos me-1" (click)="seeOwnImages()">Galería</h2>
          <h2 *ngIf="menu==1" class="grafico" (click)="chooseMenu(3)">
            Estadísticas
          </h2>
          <h2 *ngIf="menu==2" class="grafico" (click)="chooseMenu(4)">
            Estadísticas
          </h2>

        </div>
        <div class="d-flex justify-content-center">

          <div class="btn-tomar-foto" (click)="addPhotoToGallery()">
            <h2>TOMAR FOTO</h2>
          </div>
        </div>

      </div>


      <!-- LISTADO DE IMAGENES COSAS LINDAS -->
      <div style="margin-top: 1rem" *ngIf="menu == 1 && !userImagesCosasLindas">
        <ion-card style="border: 3px solid rgb(218, 218, 218); border-radius: 10px" color="light"
          *ngFor="let item of this.cosasLindasList; let i = index" data-index="i">
          <ion-card-header>
            <ion-card-title style="text-align: center; font-weight: 900;">{{item.userName}}</ion-card-title>
            <ion-card-subtitle style="text-align: center">{{item.hour}}</ion-card-subtitle>
          </ion-card-header>
          <img class="img-cosas-lindas" src="{{item.pathFoto}}" />
          <ion-card-subtitle>
            <ion-item class="btn-like-dislike-cl">
              <ion-icon class="like-activado" name="checkmark-circle-sharp" slot="start"
                *ngIf="item.likes.indexOf(user.email) == -1" (click)="voteImage(item, false)"></ion-icon>
              <ion-icon class="like-desactivado" name="close-circle-outline" slot="start"
                *ngIf="item.likes.indexOf(user.email) != -1" (click)="voteImage(item, true)"></ion-icon>
            </ion-item>
          </ion-card-subtitle>
        </ion-card>
      </div>

      <!-- LISTADO DE IMAGENES COSAS LINDAS PROPIAS DEL USUARIO -->
      <div style="margin-top: 1rem" *ngIf="menu == 1 && userImagesCosasLindas">
        <h2 style="text-align: center; margin-bottom: 2rem; color: wheat; text-shadow: 3px 3px 1px #000;">
          {{user.name}}
        </h2>

        <div *ngFor="let item of this.cosasLindasList; let i = index">
          <ion-card style="border: 3px solid rgb(218, 218, 218); border-radius: 10px" class="ion-padding"
            *ngIf="item.email == user.email" data-index="i">
            <div>
              <ion-card-header>
                <ion-card-subtitle style="text-align: center">{{item.hour}}</ion-card-subtitle>
              </ion-card-header>
              <img class="img-cosas-lindas" src="{{item.pathFoto}}" />
            </div>
          </ion-card>
        </div>
      </div>

      <!-- LISTADO DE IMAGENES COSAS FEAS -->
      <div style="margin-top: 1rem" *ngIf="menu == 2 && !userImagesCosasFeas">
        <ion-card style="border: 3px solid rgb(218, 218, 218); border-radius: 10px" color="light"
          *ngFor="let item of this.cosasFeasList; let i = index" data-index="i">
          <ion-card-header>
            <ion-card-title style="text-align: center; font-weight: 700;">{{item.userName}}</ion-card-title>
            <ion-card-subtitle style="text-align: center">{{item.hour}}</ion-card-subtitle>
          </ion-card-header>
          <img class="img-cosas-lindas" src="{{item.pathFoto}}" />
          <ion-card-subtitle>
            <ion-item class="btn-like-dislike-cl">
              <!-- <ion-icon name="close-circle-outline"></ion-icon> -->
              <ion-icon class="like-activado" name="checkmark-circle-sharp" slot="start"
                *ngIf="item.likes.indexOf(user.email) == -1" (click)="voteImage(item, false)"></ion-icon>
              <ion-icon class="like-desactivado" name="close-circle-outline" slot="start"
                *ngIf="item.likes.indexOf(user.email) != -1" (click)="voteImage(item, true)"></ion-icon>
            </ion-item>
          </ion-card-subtitle>
        </ion-card>
      </div>

      <!-- LISTADO DE IMAGENES COSAS FEAS PROPIAS DEL USUARIO -->

      <div style="margin-top: 1rem" *ngIf="menu == 2 && userImagesCosasFeas">
        <h2 style="text-align: center; margin-bottom: 2rem; color: wheat; text-shadow: 3px 3px 1px #000;">
          {{user.name}}
        </h2>
        <div *ngFor="let item of this.cosasFeasList; let i = index">


          <ion-card style="border: 3px solid rgb(218, 218, 218); border-radius: 10px" color="#329F5B"
            *ngIf="item.email == user.email" data-index="i">
            <div>
              <img class="img-cosas-lindas" src="{{item.pathFoto}}" />
              <ion-card-header>
                <ion-card-subtitle style="text-align: center">{{item.hour}}</ion-card-subtitle>
              </ion-card-header>
            </div>
          </ion-card>
        </div>
      </div>
    </ion-grid>
  </div>

  <!-- PIPE CHART -->
  <div *ngIf="menu == 3">
    <script src="https://unpkg.com/chart.js-plugin-labels-dv/dist/chartjs-plugin-labels.min.js"></script>

    <h1 style="text-align: center; margin-top: 3rem; font-size: 2.3rem; text-transform: uppercase;">
      Estadísticas
    </h1>

    <div class="pipe-chart-container d-flex justify-content-center">
      <canvas id="pipeChart"></canvas>
    </div>
  </div>

  <!-- BAR CHART -->
  <div *ngIf="menu == 4">

    <h1 style="text-align: center; margin-top: 5rem; font-size: 2.3rem">
      GRÁFICO DE COSAS FEAS
    </h1>
    <div class="bar-chart-container">
      <canvas id="pipeChart"></canvas>
    </div>
  </div>
  <ion-spinner
    *ngIf="pressedButton"
    color="secondary"
    name="lines"
  ></ion-spinner>
</ion-content>